rules_version = '2';

service cloud.firestore {
  function isSignedIn() { return request.auth != null; }

  match /databases/{database}/documents {

    // Allow only authenticated users read & create access
    match /lists/{listid} {

    	allow create: if isSignedIn();

        allow read: if isSignedIn();
    }
  }
}
