
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Todo Lists</ion-title>
    <ion-button slot="start"  (click)="onBack();">  <ion-icon name="arrow-back" class="padding-end"></ion-icon>Back</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-item-sliding *ngFor="let mtodo of todos"  >

  <ion-item-options >
    <ion-item-option *ngIf="hasWritePermission == true" (click)="onRemoveTodo(mtodo.id);"><ion-icon name="trash" size="large"></ion-icon></ion-item-option>
  </ion-item-options>
  <ion-item >
    <app-todo-card  style="width:100%;" [title]="mtodo.name" [description]="mtodo.description" [todoId]="mtodo.id" [listId]="mListId" [isDone]="mtodo.isDone" [dueDate]="mtodo.dueDate" [canWrite]="hasWritePermission"> </app-todo-card>
  </ion-item>

</ion-item-sliding>


<ion-label *ngIf="!hasWritePermission" color="primary "><ion-icon name="warning" *ngIf="!hasWritePermission"></ion-icon>Only the creator of the list can add todo tasks</ion-label>

<ion-button expand="block" color="success"  [disabled]="!hasWritePermission" (click)="presentAddTodoModal()" >Create Todo</ion-button>

</ion-content>


