<ion-header>
  <ion-toolbar>
    <ion-title  slot="primary">todos</ion-title>
    <ion-button slot="start" color="light" (click)="onBack();">  <ion-icon name="arrow-back" class="padding-end"></ion-icon>Back</ion-button>
   
  </ion-toolbar>

</ion-header>

<ion-content>
<ion-item-sliding *ngFor="let mtodo of todos"  >

  <ion-item-options >
    <ion-item-option *ngIf="hasWritePermission == true" (click)="onRemoveTodo(mtodo.id);"><ion-icon name="trash" size="large"></ion-icon></ion-item-option>
  </ion-item-options>
  <ion-item >
    <app-todo-card  style="width:100%;" [listId]="mListId" [hasImg]="mtodo.hasImg" [todoId]="mtodo.id" [title]="mtodo.name" [description]="mtodo.description" [isDone]="mtodo.isDone" [dueDate]="mtodo.dueDate"> </app-todo-card>
  </ion-item>
    
</ion-item-sliding>



<ion-button expand="block" color="dark" (click)="presentAddTodoModal()" *ngIf="hasWritePermission">Create Todo</ion-button>

</ion-content>


