<ion-header>
  <ion-toolbar>
    <ion-title>Add users via email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addUsersFormGroup">
    <ion-item>
      <ion-label position="floating">Email 1</ion-label>
      <ion-input type="email" formControlName="user1Email" placeholder="Email of first user"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email 2</ion-label>
      <ion-input type="email" formControlName="user2Email" placeholder="Email of second user"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email 3</ion-label>
      <ion-input type="email" formControlName="user3Email" placeholder="Email of third user"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="button" [disabled]="addUsersFormGroup.invalid" color="success" expand="block" (click)='addUsers()'>Add users</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="button" color="danger" expand="block" (click)="backToHome()">Back</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>


