<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" color="success" [disabled]="loginForm.invalid">Login</ion-button>

    <ion-col>
      <div class="ion-text-center">
        <a class="ion-padding-horizontal" [routerLink]="['/register']">Register</a>
        <a class="ion-padding-horizontal" [routerLink]="['/recovery']">Recovery</a>
        <a class="ion-padding-horizontal" tappable (click)="onGoogleSignIn();">SignIn WIth Google</a>
      </div>
    </ion-col>
  </form>

</ion-content>
