<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todo Lists
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let l of lists | async">
    <ion-item>
      <ion-label>
        <a [title]="l?.name + 'todos'" [routerLink]="['/todo/list']">
          {{l?.name}}
        </a>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="dark" (click)="showNewListModal()">Create list</ion-button>
</ion-content>
