
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>List Creation</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-margin-top" >
    <form [formGroup]="listForm"  >
      <ion-item lines="full" >
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="listName" type="text" placeholder="Enter a list name"></ion-input>
      </ion-item>



      <ion-row>
        <ion-col class="ion-margin-end ion-margin-start">
          <ion-button type="button" color="danger" expand="block" (click)="closeModal()">Back</ion-button>
        </ion-col>
        <ion-col class="ion-margin-end ion-margin-start">
          <ion-button type="button" color="success" expand="block" (click)='submitForm()' >Submit</ion-button>
          
        </ion-col>
       
      </ion-row>

    

    </form>
  </ion-content>
