<ion-header>
  <ion-toolbar>
    <ion-title>todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item *ngFor = "let mTodo of todoList?.todos" >
  <div>
    {{mTodo.name}}
    <p>
      {{mTodo.description}}
    </p>
  </div>
</ion-item>
  
<ion-card>
    <ion-item>
      <ion-input [(ngModel)]="myTodoTask" placeholder="Enter a todo">

      </ion-input>
      <ion-button slot="end" (click)="addTodoTask()">
        <ion-icon slot="icon-only" shape="round" name="add"></ion-icon>
      </ion-button>
    </ion-item>
</ion-card>

<ion-card expand="block" color="dark" (click)="showNewListModal()">Create todo</ion-card>
</ion-content>
