<ion-header [translucent]="true">

  <ion-toolbar color="secondary">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="primary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Todo Lists</ion-title>
    <ion-segment value="all">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
  </ion-toolbar>

   
</ion-header>

<ion-menu side="end" menuId="end" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>{{userEmail}}</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let l of lists">
    <ion-item>
      <ion-label>
      
        <a [title]="l.name + '-todos'" [routerLink]="['/todos', l.id]">
          {{l?.name}}
        </a>
      </ion-label>
      <ion-label>Created by {{l?.creator}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="dark" (click)="showNewListModal()">Create list</ion-button>
</ion-content>
