<ion-header [translucent]="true">

  <ion-toolbar color="primary">


    <ion-title>Todo Lists</ion-title>

    <ion-buttons slot="end"><ion-menu-button></ion-menu-button></ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-menu side="end" menuId="end" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>{{userEmail}}</ion-item>
      <ion-item><ion-button   (click)="signOut()"> <ion-icon class="ion-text-capitalize ion-margin-top ion-margin-bottom" name="log-out" size="large"></ion-icon> Sign out</ion-button></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-content [fullscreen]="true">
  <ion-item-sliding *ngFor="let l of lists">




    <ion-item [routerLink]="['/todos', l.id]" routerLinkActive="active">
      <ion-card style="width:100%;" class="roundedBorder">
      <ion-row style="width:100%;" >
        <ion-col col-3 text-center>
          <ion-item color="secondary">{{l?.name}}</ion-item>
        </ion-col>
      </ion-row>

      <ion-row style="width:100%;">
        <ion-col text-center >
          <ion-item color="light">Created by {{l?.creator}}</ion-item>
        </ion-col>
      </ion-row>
    </ion-card>
      
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="primary" [disabled]="!(userEmail === l.creator)" (click)="showAddUsersListModal(l);" >
        <ion-icon slot="icon-only" name="person-add-outline" ></ion-icon>
      </ion-item-option>
      <ion-item-option color="danger" [disabled]="!(userEmail === l.creator)" (click)="delete(l?.id, l?.name)">
        <ion-icon slot="icon-only" name="trash" ></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-button expand="block" color="success" (click)="showNewListModal()">Create list</ion-button>

</ion-content>
