ion-label {
    font-weight: lighter;
    font-style: oblique;
}


.mContent{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
    
}

.warnLabel{
    text-align: center;
    padding:no;
    font-weight: bolder;
    background-color: rgb(121, 121, 132);

    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 1px;
 
}

.errorLabel{
    text-align: center;
    padding:no;
    font-weight: bolder;
    background-color: rgb(121, 121, 132);

    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 1px;
 
}
