

    
     
      <ion-card>
    <ion-card-header>
        <ion-label class="ion-margin-end">Title</ion-label>
        <ion-input disabled>{{title}}</ion-input>
    </ion-card-header>

    <ion-card-content>
      
        <ion-label class="ion-margin-end">Description</ion-label>
        <ion-input disabled>{{description}}</ion-input>
     

     
    </ion-card-content>

    <ion-card-content>
      <ion-label>Is finished </ion-label>
      <ion-checkbox disabled color="dark" checked="false"></ion-checkbox>
    </ion-card-content>
  </ion-card>


  
