

    
     
  <ion-card color="primary" >
    <ion-card-header color="secondary" class="ion-margin-bottom">
        <ion-title class="ion-margin-end ">{{title}}</ion-title>
    </ion-card-header>

    <ion-card-content>
      
        <ion-label class="ion-margin-end">Description</ion-label>
        <ion-input disabled>{{description}}</ion-input>
     
    </ion-card-content>
    <ion-card-content *ngIf="dueDate">
      <ion-label>Due Date</ion-label>
          <ion-input disabled>{{dueDate | date: 'dd/MM/YYYY'}}</ion-input>
    </ion-card-content>
    <ion-card-content>
      <ion-label>Is finished </ion-label>
      <ion-checkbox disabled color="dark" checked="false"></ion-checkbox>
    </ion-card-content>
    <ion-label>IMGID : {{hasImg}} </ion-label>
    <ion-img *ngIf="hasImg" [src]="imgUrl" style="width:50%" ></ion-img>
    <ion-button (click)="addPhotoToGallery()">Take Photo</ion-button>
  </ion-card>


  
