<ion-card>

  <ion-card-header>
    <ion-item>
      <ion-label class="ion-margin-end">Title</ion-label>
      <ion-input disabled>{{title}}</ion-input>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-label class="ion-margin-end">Description</ion-label>
      <ion-input disabled>{{description}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Is finished </ion-label>
      <ion-checkbox disabled color="dark" checked="false"></ion-checkbox>
    </ion-item>
  </ion-card-content>

  
</ion-card>